h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial;
  color: #333;
  background-color: rgb(206, 252, 216);
}

header {
  padding: 40px;
  background-color: cornflowerblue;
  text-align: center;
  color: white;
  margin-bottom: 12px;
}

main {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

main form {
  width: 40%;
}

main article {
  width: 45%;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

#title {
  text-align: center;
}

label {
  display: block;
  margin-bottom: .5em;
}

input,
textarea,
#destination_details_form button {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #666;
  padding: 10px;
  box-sizing: border-box;
}

#destination_details_form button {
  color: white;
  background-color: rgb(43, 91, 180);
}

.card {
  padding-bottom: 14px;
  background-color: hsl(304, 80%, 96%);
  margin-bottom: 10px;
}

img {
  width: 300px;
  vertical-align: center;
  margin-top: 20px;
  padding: 0;
}

.card-body h4,
.card-body p {
  text-align: center;
  display: block;
}

.wrapper {
  text-align: center;
}

.imgDiv {
  display: flex;
  justify-content: center;
}

.card-text {
  padding: 0px 10px;
  line-height: 24px;;
}

.wrapper{
  display:flex;
  justify-content: center;
}

#remove {
  border-width: 1px;
  border-radius: 6px;
  border-color:rgb(172, 172, 172);
  padding: 8px 50px 8px 50px;
  background-color: blanchedalmond;
}